node_modules
npm-debug.log
.git
.gitignore
README.md
.env.local
.env.*.local
coverage
.nyc_output
.cache
dist
.DS_Store
.vscode
.idea
*.log
.env.example
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
vendor
.phpunit.result.cache
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/* 